@page
@model Mission9_jacobac3.Pages.CheckoutCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks for buying a book from us! </h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home</a>
</div>